<h2>My blogs</h2>
<ul class="Blogs">
  <li *ngFor="let blog of Blogs"
  [class.selected]="blog === selectedBlog"
    (click)="onSelect(blog)">
   
   <a routerLink = {{blog.id}}>  <span class="badge">{{blog.id}}</span> {{blog.title}}</a>
  </li>
</ul>

<!-- <div *ngIf="selectedBlog">
 
    <h2>{{ selectedBlog.title | uppercase }} Details</h2>
    <div><span>id: </span>{{selectedBlog.id}}</div>
    <div>
      <label>name:
        <input [(ngModel)]="selectedBlog.title" placeholder="name">
      </label>
    </div>
   
  </div> -->